form.buttons
  fieldset.regular
    legend Buttons
    div.filled
      button(type="button") Click Me
      button(type="button") Click Me
    div
      button(type="button") Click Me
      button(type="button") Click Me
    div
      button(type="button") Click Me
      button(type="button") Click Me
    div
