form.buttons
  fieldset.regular
    legend Buttons
    div.filled
      button(type="button") Click Me
      button(type="button") Click Me
    div.outlined
      button(type="button") Click Me
      button(type="button") Click Me
    div.simple
      button(type="button") Click Me
      button(type="button") Click Me
    div
