mixin buttons-form(title)
  form.buttons
    fieldset.regular
      legend= title
      block

mixin button-filled(label)
  button(type="button").filled&attributes(attributes)= label
mixin button-unfilled(label)
  button(type="button").unfilled&attributes(attributes)= label
mixin button-simple(label)
  button(type="button").simple&attributes(attributes)= label
mixin button-wide(label)
  button(type="button").wide= label
    span.material-icons arrow_forward
