mixin buttons-form(title)
  form.buttons
    fieldset.regular
      legend= title
      block

mixin button-filled(label)
  button(type="button").filled= label
mixin button-outlined(label)
  .outlined
    .outline
      button(type="button")= label
mixin button-simple(label)
  button(type="button").simple= label
mixin button-wide(label)
  button(type="button").wide= label
    span.material-icons arrow_forward
