form.buttons
  fieldset.regular
    legend Buttons
    .filled
      button(type="button") Click Me
      button(type="button") Click Me
    .outlined
      .container
        button(type="button") Click Me
      .container
        button(type="button") Click Me
    .simple
      button(type="button") Click Me
      button(type="button") Click Me
    button(type="button").wide Перейти к оплате
      span.material-icons arrow_forward

mixin button-filled(label)
  button(type="button").filled= label
mixin button-outlined(label)
  .outlined
    .outline
      button(type="button")= label
mixin button-simple(label)
  button(type="button").simple= label
mixin button-wide(label)
  button(type="button").wide= label
    span.material-icons arrow_forward
