form.buttons
  fieldset.regular
    legend Buttons
    div.filled
      button(type="button") Click Me
      button(type="button") Click Me
    div.outlined
      div.container
        button(type="button") Click Me
      div.container
        button(type="button") Click Me
    div.simple
      button(type="button") Click Me
      button(type="button") Click Me
    button(type="button").wide Перейти к оплате
      span.material-icons arrow_forward
