mixin checkbox__form(title="Checkbox Buttons")
  form.buttons
    fieldset
      legend= title
      .checkbox(class!=attributes.class)
        block

mixin checkbox(option)
  .wrapper
    input(type="checkbox" id="checkbox")
    label(for="checkbox")= option

mixin checkbox--rich(option, description)
  .wrapper
    input(type="checkbox" id="checkbox")
    label(for="checkbox")
      span= option
      span= description
