form.buttons
  fieldset
    legend Checkbox Buttons
    div.checkbox
      input(type="checkbox" id="checkbox")
      label(for="checkbox") Можно курить
      br
      input(type="checkbox" id="checkbox")
      label(for="checkbox") Можно с питомцами
      br
      input(type="checkbox" id="checkbox")
      label(for="checkbox") Можно пригласить гостей (до 10 человек)
