form.buttons
  fieldset
    legend Like Button
    button(type="button")
      div
        span.material-icons favorite_border
        span 2
    button(type="button")
      div
        span.material-icons favorite
        span 12
