form.buttons
  fieldset.like
    legend Like Button
    input(type="checkbox")
      div
        span.material-icons favorite_border
        span 2
    input(type="checkbox")
      div
        span.material-icons favorite
        span 12
