form.buttons
  fieldset.pagination
    legend Pagination
    div
      button(type="button") 1
      button(type="button") 2
      button(type="button") 3
      button(type="button") ...
      button(type="button") 15
      button(type="button").forward.material-icons arrow_forward
    p 1 - 12 из 100+ вариантов аренды
