form.buttons
  fieldset.pagination
    legend Pagination
    button(type="button")
    button(type="button")
    button(type="button")
    button(type="button")
    button(type="button")
    button(type="button").forward
