form.buttons
  fieldset
    legend Radio Buttons
    div.radio
      label.radio(for="male")
        span.radio-input
          input(type="radio" id="male" name="gender")
          span.control
          label(for="male") Мужчина
      label.radio(for="female") 
        span.radio-input
          input(type="radio" id="female" name="gender")
          span.control
          label(for="female") Женщина
