form.buttons
  fieldset
    legend Rate Button
    div.rate
      button(type="button").material-icons star
      button(type="button").material-icons star
      button(type="button").material-icons star
      button(type="button").material-icons star
      button(type="button").material-icons star_border
    div.rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
