form.buttons
  fieldset
    legend Rate Button
    div.rate
      span.material-icons star
      span.material-icons star
      span.material-icons star
      span.material-icons star
      span.material-icons star_border
    div.rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
