form.buttons
  fieldset
    legend Rate Button
    div.rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
    div.rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
      span.material-icons star_rate
