div.roomInfo
  span.material-icons insert_emoticon
  pre. 
      <b>Комфорт</b>
      Шумопоглощающие стены
  hr
div.roomInfo
  span.material-icons location_city
  pre.
      <b>Удобство</b>
      Окно в каждой из спален
  hr

mixin roomInfo(icon, info)
  span(class="material-icons")= icon
  pre= info
  hr
