form.buttons
  fieldset
    legend Toggle
    div.toggle
      div
        input(type="checkbox" id="toggle")
        span.control
        label.toggle(for="toggle") Получать спецпредложения
      div
        input(type="checkbox" id="toggle")
        span.control
        label.toggle(for="toggle") Получать спецпредложения
