mixin dropdown
  .dropdown
    button(type="button") Спальни
    .dropdown--default(id="dropdownJS")
      block

mixin dropdown__item(dropdown__item__name)
  .dropdown__item
    span.dropdown__item__name= dropdown__item__name
    .dropdown__item__counter
      button(type="button") -
      span.count(id="amount") 0
      button(type="button") +
