mixin dropdown
  .dropdown
    p Спальни
  .dropdown.dropdown--default(id="dropdownJS")
    block

mixin dropdown__item__body(dropdown__item)
  .dropdown__item__body
    span.dropdown__item= dropdown__item
    .dropdown__item__counter
      button(type="button") -
      span.count(id="amount") 0
      button(type="button") +
