mixin dropdown
  div(class="dropdown" onclick="dropdownJS()")
    p Спальни
    div(class="default" id="dropdownJS")
      block

mixin dropdown__item__body(dropdown__item)
  div.dropdown__item__body
    span.dropdown__item= dropdown__item
    div.dropdown__item__counter
      button(type="button") -
      span.count(id="amount") 0
      button(type="button") +
