@use "_vars.scss" as *;
@use "_text.scss" as *;

@mixin textField {
  height: 67px;
  width: 320px;
  background: #FFFFFF;

  input {
    border: 1px solid $dark25;
    border-radius: 4px;

    height: 44px;
    width: 320px;

    transition: 0.2s;

    &:hover, &:focus {
      border: 1px solid $dark50;
    }
  }
}
