@use "_vars.scss" as *;
@use "_text.scss" as *;

@mixin textField {
  height: 67px;
  width: 320px;
  background: #ffffff;

  form {
    width: 320px;

    label:nth-of-type(1) {
      float: left;
    }
    label:nth-of-type(2) {
      float: right;
      color: $dark50;
    }
  }

  input {
    background-color: inherit;
    border: 1px solid $dark25;
    border-radius: 4px;
    outline: none;

    padding: 0;

    height: 44px;
    width: 100%;

    transition: 0.2s;
  }
}

@mixin focus {
  border: 1px solid $dark50;
  border-radius: 4px;
}

@mixin dropdown {
  height: 44px;
  width: 320px;

  //display: flex;
  //flex-flow: row;
  //align-items: center;

  border: 1px solid $dark25;
  border-radius: 4px;
  transition: 0.2s;
  &:hover,
  &:focus {
    border: 1px solid $dark50;
  }
}

@mixin item {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

@mixin name {
  flex: auto;
}

@mixin default {
  display: none;
  flex-flow: column;
  justify-content: space-around;

  background: #ffffff;

  position: relative;
}

@mixin expanded {
  display: flex;
  filter: $drop-shadow;
}

@mixin buttons {
  display: block;
  height: max-content;

  fieldset {
    border: none;
    padding: 0;
    margin: 0;

    width: 100%;
  }

  input {
    appearance: none;
    outline: none;

    cursor: pointer;
  }
}

@mixin checkbox {
  input {
    border: 1px solid $dark25;
    border-radius: 4px;

    padding: 0.25em;

    height: 20px;
    width: 20px;

    &:checked {
      content: url(../static/Vector.svg);

      border: 1px solid $purple;
    }
  }
}

@mixin radio {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  label.radio {
    display: flex;
    flex-flow: row;
    align-items: center;

    color: $dark50;

    & * {
      cursor: pointer;
    }

    .radio-input {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      background: #fff;
      box-sizing: border-box;

      label {
        cursor: pointer;
        margin-left: 2em;
      }

      input {
        appearance: none;
        position: absolute;
        left: 0;

        border: 1px solid $dark25;
        border-radius: 50%;
        outline: none;
        margin: 0;

        height: 20px;
        width: 20px;

        &:checked {
          border: 1px solid $purple;
          border-radius: 50%;

          & ~ .control {
            background: linear-gradient($gradient-primary);
            position: absolute;
            left: 4px;

            border-radius: 50%;

            height: 12px;
            width: 12px;
          }

          & ~ label {
            color: $dark75;
          }
        }
      }
    }
  }
}

@mixin toggle {
  display: flex;
  flex-flow: column;

  div {
    display: flex;
    flex: row nowrap;
    align-items: center;

    margin: 5px 0;
  }

  input {
    appearance: none;
    position: absolute;
    left: 0;

    border: 1px solid $dark25;
    border-radius: 10px;
    outline: none;
    margin: 0;

    height: 20px;
    width: 40px;

    & ~ .control {
      background: $dark25;
      position: absolute;
      left: 4px;

      border-radius: 50%;

      height: 12px;
      width: 12px;
    }

    &:checked {
      border: 1px solid $purple;

      & ~ .control {
        background: linear-gradient($gradient-primary);
        transform: translateX(20px);
      }
    }

    & ~ label {
      color: $dark75;

      margin-left: 3em;
    }
  }
}

@mixin like {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  button {
    appearance: none;
    outline: none;
    border: none;

    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    background: $dark25;
    border-radius: 10px;

    margin: 0;

    height: 20px;
    width: 40px;

    & div span {
      color: $dark25;
    }

    &:active,
    &:last-of-type {
      background: linear-gradient($gradient-primary);

      & div span {
        color: $purple;
      }
    }

    &:hover {
      cursor: pointer;
    }

    div {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-around;
      align-items: center;

      background: #fff;
      border-radius: 10px;

      height: 18px;
      width: 38px;
    }

    span {
      font-size: 10px;
    }
  }
}

@mixin regular {
  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  button {
    appearance: none;
    outline: none;
    background: #fff;

    color: $purple;

    border-radius: 22px;

    height: 44px;
    width: 99px;

    &:hover {
      cursor: pointer;
    }
  }

  .filled {
    button {
      border: none;

      color: #fff;
      background: linear-gradient($gradient-primary);

      &:hover {
        opacity: 0.5;
      }

      &:nth-of-type(2) {
        opacity: 0.5;
      }
    }
  }

  .outlined {
    .container {
      background: linear-gradient($gradient-primary);

      border-radius: 22px;

      height: 44px;
      width: 99px;

      button {
        background: #fff;
        border: none;

        margin: auto;

        height: 42px;
        width: 97px;
      }

      &:hover {
        background: linear-gradient($gradient-primary50);
        cursor: pointer;
      }

      &:nth-of-type(2) {
        background: linear-gradient($gradient-primary50);
      }
    }
  }

  .simple {
    button {
      border: none;

      height: 15px;
      width: auto;

      &:hover {
        color: $dark50;
      }

      &:nth-of-type(2) {
        color: $dark50;
      }
    }
  }

  .wide {
    appearance: none;
    outline: none;
    border: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    background: linear-gradient($gradient-primary);
    color: #fff;

    height: 44px;
    width: 320px;

    span {
      flex-direction: flex-end;

      color: inherit;

      width: 24px;
    }
  }
}

@mixin rate {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;

  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  }

  button {
    appearance: none;
    border: none;
    outline: none;
    padding: 0;

    cursor: pointer;

    background: linear-gradient($gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    width: 24px;
  }
}

@mixin pagination {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;

  div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  button {
    appearance: none;
    border: none;
    outline: none;

    cursor: pointer;

    color: $dark50;
    background: #fff;
    border-radius: 22px;

    height: 40px;
    width: 40px;

    &:first-of-type {
      color: #fff;
      background: linear-gradient($gradient-primary);
    }

    &:last-of-type {
      color: #fff;
      background: linear-gradient($gradient-secondary);
    }

    p {
      color: $dark75;
    }
  }
}

@mixin list {
  ul {
    li::marker {
      content: url(../static/Ellipse.svg);
      height: 10px;
      width: 10.43px;
    }
  }
}

@mixin roomInfo {
  position: relative;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 79px;

  span {
    background: linear-gradient($gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 48px;
    line-height: 40.8px;
  }

  pre {
    margin-left: 10px;
  }

  hr {
    position: absolute;
    bottom: 0;

    background: $dark10;

    border: none;
    height: 1px;
    width: 280px;
  }
}
