@use "_vars.scss" as *;
@use "../../fonts.css" as *;

@mixin widgetTitle {
  font-family: Montserrat;
  font-size: 24px;

  color: $dark;
}

@mixin widgetItem {
  font-family: Montserrat;
  font-size: 19px;

  color: $dark;
}

@mixin label {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;

  line-height: 15px;

  color: $dark;
}

@mixin body {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;

  color: $dark75;
}
