@use "_vars.scss" as *;
@use "_text.scss" as *;
@use "_mixins.scss" as *;
@use "_sections.scss" as *;
// @forward "../templates/colors/colors.scss";
// @forward "../templates/text/text.scss";

// Fonts
// @use "../../fonts.css";

html {
  height: 100%;
  width: 100%;
}

body {
  h1 {
    @include widgetTitle;
  }
  h2 {
    @include widgetItem;
  }
  h3,
  label,
  legend,
  button {
    @include label;
  }
  p,
  pre,
  input,
  span,
  li {
    @include body;
  }

  display: block;
  margin: 0;
  // font-family: Montserrat;
  font-weight: bold;

  height: 100%;

  background-color: $dark5;
}

section {
  background-color: #fff;
}

.type {
  display: block;
  width: fit-content;
}

.circle {
  border: 2px solid $dark25;
  border-radius: 100%;

  display: flex;
  align-items: center;
  text-align: center;

  height: 20px;
  width: 20px;

  p {
    color: $dark50;
    margin: auto;
  }
}

.textField {
  @include textField;
  @include label;
  input {
    @include body;
    &:hover,
    &:focus,
    &:active {
      @include focus;
    }
  }
}

.textField:nth-of-type(2) {
  input {
    @include focus;
  }
}

.dropdown {
  @include dropdown;
  .item {
    @include item;
    .name {
      @include name;
    }
  }
  .default {
    @include default;
  }
  .expanded {
    @include expanded;
    border: 1px solid $dark50;
    border-radius: 4px;
  }
}

.rate {
  @include rate;
}

.buttons {
  @include buttons;

  .checkbox {
    @include checkbox;
  }

  .radio {
    @include radio;
  }

  .toggle {
    @include toggle;
  }

  .like {
    @include like;
  }

  .regular {
    @include regular;
  }

  .rate {
    @include rate;
  }

  .pagination {
    @include pagination;
  }

  .list {
    @include list;
  }

  label {
    @include body;
    color: $dark50;
    text-transform: none;
  }
}

.roomInfo {
  @include roomInfo;
}
