@use "_vars.scss" as *;
@use "_colors.scss" as *;
@use "_text.scss" as *;
@use "_mixins.scss" as *;
// @forward "../templates/colors/colors.scss";
// @forward "../templates/text/text.scss";

// Fonts
@use "../../fonts.css";

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  flex-flow: row;
  font-family: Montserrat;
  font-weight: bold;
  justify-content: space-around;

  height: 100%;

  color: $dark;
}

.text {
  display: block;
  width: fit-content;
}

form {
  @include textField;
}
