@use "fonts.css";

@use "utils/vars" as *;

@use "common/sections" as *;

@use "mixins" as *;
// @forward "../templates/colors/colors.scss";
// @forward "../templates/text/text.scss";

// Fonts
// @use "../../fonts.css";

html {
  height: 100%;
  width: 100%;
}

body {
  h1 {
    @include widgetTitle;
  }

  h2 {
    @include widgetItem;
  }

  h3,
  label,
  legend,
  button {
    @include label;
  }

  p,
  pre,
  input,
  span,
  li {
    @include body;
  }

  display: block;
  margin: 0;
  // font-family: Montserrat;
  font-weight: bold;

  height: 100%;

  background-color: $dark5;
}

section {
  background-color: #fff;
}

.colorsAndType {
  @include colors-and-type;
}

.circle {
  border: 2px solid $dark25;
  border-radius: 100%;

  display: flex;
  align-items: center;
  text-align: center;

  height: 20px;
  width: 20px;

  p {
    color: $dark50;
    margin: auto;
  }
}

.textField {
  @include textField;
  input {
    &:hover,
    &:focus,
    &:active {
      @include focus;
    }
  }
}

.textField#textfield--active {
  input {
    @include focus;
  }
}

.dropdown {
  @include dropdown;
}

.rate {
  @include rate;
}

form {
  @include form;
}

.checkbox {
  @include checkbox;
}

.radio {
  @include radio;
}

.toggle {
  @include toggle;
}

.like {
  @include like;
}

.regular {
  @include regular;
}

.rate {
  @include rate;
}

.pagination {
  @include pagination;
}

.list {
  @include list;
}

.roomInfo {
  @include roomInfo;
}

.review__body {
  @include review;
}
