@use "_vars.scss" as *;
@use "_colors.scss" as *;
@use "_text.scss" as *;
@use "_mixins.scss" as *;
@use "_sections.scss" as *;
// @forward "../templates/colors/colors.scss";
// @forward "../templates/text/text.scss";

// Fonts
@use "../../fonts.css";

html {
  height: 100%;
  width: 100%;
}

body {
  display: block;
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;

  height: 100%;

  background-color: $dark5;
  color: $dark;
}

section {
  background-color: #fff;
}

.type {
  display: block;
  width: fit-content;
}

form {
  @include textField;
}
