.colors {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: fit-content;

  .info {
    position: relative;
    left: 150%;
    width: max-content;
    margin: 0;
  }

  .square {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 6px;

    position: relative;
    left: 20%;

    height: 5em;
    width: 5em;

    //Squares of different colors
    &:nth-child(1) {
      background-color: $dark;
    }
    &:nth-child(2) {
      background-color: $dark75;
    }
    &:nth-child(3) {
      background-color: $dark50;
    }
    &:nth-child(4) {
      background-color: $dark25;
    }
    &:nth-child(5) {
      background-color: $dark5;
    }
    &:nth-child(6) {
      background: rgba($purple, 1);
    }
    &:nth-child(7) {
      background: rgba($green, 1);
    }
  }
}

.colorsAndType {
  height: 900px;
  width: 100%;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
