doctype html
html
  head
    // link(href='../styles/styles.scss' rel='stylesheet' type='text/css')
    script(src="../src/scripts/dropdown.js")
    include includes/mixins.pug
    include includes/roomInfo/roomInfo.pug
    include includes/checkbox/checkbox.pug
    include includes/buttons/buttons.pug
    include includes/list/list.pug
    include includes/textfield/textfield.pug
  body
    h1 Colors & Type
    section.colorsAndType
      div.colors
        div.square
          h2.info Dark Shade 100%
          p.info #1F2041
        div.square
          h2.info Dark Shade 75%
          p.info #1F2041
        div.square
          h2.info Dark Shade 50%
          p.info #1F2041
        div.square
          h2.info Dark Shade 25%
          p.info #1F2041
        div.square
          h2.info Dark Shade 5%
          p.info #1F2041
        div.square
          h2.info Purple
          p.info #BC9CFF
        div.square
          h2.info Green
          p.info #6FCf97
      div.type
        h1 Header 1 (This one is the sub-section or widget title)
        h2.info Header 2 (Next one is the item title inside widgets)
        h3 Header 3 (This is a label or CTA text)
        p.info Body/Paragprah (This is the body text which is used for most of the design, like paragraphs, lists, etc.)
    h1 Form Elements
    section.formElements
      div.textField
        form
          label(for="textField") Text Field
          label(for="textField") Default
          br
          input(id="textField" placeholder="Email")
      div.textField
        form
          label(for="textField") Text Field
          label(for="textField") Hover / Focus
          br
          input(id="textField" value="This is pretty awesome")
      div.textField
        form
          label(for="textField") Masked Text Field
          br
          input(id="textField")
      div(id="dropdown")
        h3 Dropdown
        div(class="dropdown" onclick="dropdownJS()")
          p Спальни
          div(class="default" id="dropdownJS")
            div.item
              span.name Спальни
              div.circle.decrease
                p -
              span.count(id="amount") 0
              div.circle.increase
                p +
            div.item
              span.name Кровати
              div.circle.decrease
                p -
              span.count(id="amount") 0
              div.circle.increase
                p +
            div.item
              span.name Ванные комнаты
              div.circle.decrease
                p -
              span.count(id="amount") 0
              div.circle.increase
                p +
      +form("Text Field")
        +text-field("Default")
      +form("Text Field")
        +text-field("Hover / Focus")
      +form("Masked Text Field")
        +text-field()
      +form("Checkbox Buttons")(class="checkbox")
        +checkbox("Можно курить")
        +checkbox("Можно с питомцами")
        +checkbox("Можно пригласить гостей (до 10 человек)")
      include includes/buttons/radio.pug
      include includes/buttons/toggle.pug
      include includes/buttons/like.pug
      +form("Like Buttons")
        +like(2)
        +like--active(12)
      include includes/buttons/rate.pug
      include includes/buttons/range.pug
      +form("Buttons")(class="regular")
        div
          +button-filled("Click Me")
          +button-filled("Click Me")(disabled)
        div
          +button-unfilled("Click Me")
          +button-unfilled("Click Me")(disabled)
        div
          +button-simple("Click Me")
          +button-simple("Click Me")(disabled)
        +button-wide("Перейти к оплате")
      include includes/buttons/pagination.pug
      +form("Expandable Checkbox List")(class="checkbox", onclick="checkboxExpand()")
        div(class="checkbox checkbox--collapsed", id="checkboxExpandable")
          +checkbox("Завтрак")
          +checkbox("Письменный стол") 
          +checkbox("Стул для кормления")
          +checkbox("Кроватка")
          +checkbox("Телевизор")
          +checkbox("Шампунь")
      +form("Expandable Checkbox List")(class="checkbox")
        +checkbox("Завтрак")
        +checkbox("Письменный стол") 
        +checkbox("Стул для кормления")
        +checkbox("Кроватка")
        +checkbox("Телевизор")
        +checkbox("Шампунь")
      +form("Rich Checkbox Buttons")(class="checkbox checkbox--rich")
        +checkbox--rich("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
        +checkbox--rich("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
      +form("Bullet List")(class="list")
        +list("Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00")
      +roomInfo("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
      +roomInfo("location_city", "Удобство", "Окно в каждой из спален")
