$dark-shade: #1f2041 !default;
$purple: #bc9cff !default;
$green: #6fcf97 !default;

.colors {
  display: flex;
  flex-flow: column;
  justify-content: space-around;

  .info {
    position: relative;
    left: 150%;
    width: max-content;
    margin: 0;
  }

  .square {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 6px;

    position: relative;
    left: 20%;
    margin: 1.25em 0;

    height: 5em;
    width: 5em;

    //Squares of different colors
    &.dark-shade {
      background-color: rgba($dark-shade, 1);
    }
    &:nth-child(2) {
      background-color: rgba($dark-shade, 0.75);
    }
    &:nth-child(3) {
      background-color: rgba($dark-shade, 0.5);
    }
    &:nth-child(4) {
      background-color: rgba($dark-shade, 0.25);
    }
    &:nth-child(5) {
      background-color: rgba($dark-shade, 0.05);
    }
    &.purple {
      background: rgba($purple, 1);
    }
    &.green {
      background: rgba($green, 1);
    }
  }
}
