doctype html
html
  head
    // link(href='../styles/styles.scss' rel='stylesheet' type='text/css')
    script(src="../src/scripts/dropdown.js")
  body
    h1 Colors & Type
    section.colorsAndType
      div.colors
        div.square
          h2.info Dark Shade 100%
          p.info #1F2041
        div.square
          h2.info Dark Shade 75%
          p.info #1F2041
        div.square
          h2.info Dark Shade 50%
          p.info #1F2041
        div.square
          h2.info Dark Shade 25%
          p.info #1F2041
        div.square
          h2.info Dark Shade 5%
          p.info #1F2041
        div.square
          h2.info Purple
          p.info #BC9CFF
        div.square
          h2.info Green
          p.info #6FCf97
      div.type
        h1 Header 1 (This one is the sub-section or widget title)
        h2.info Header 2 (Next one is the item title inside widgets)
        h3 Header 3 (This is a label or CTA text)
        p.info Body/Paragprah (This is the body text which is used for most of the design, like paragraphs, lists, etc.)
    h1 Form Elements
    section.formElements
      div.textField
        form
          label(for="textField") Text Field
          label(for="textField") Default
          br
          input(id="textField" placeholder="Email")
      div.textField
        form
          label(for="textField") Text Field
          label(for="textField") Hover / Focus
          br
          input(id="textField" value="This is pretty awesome")
      div.textField
        form
          label(for="textField") Masked Text Field
          br
          input(id="textField")
      div(id="dropdown")
        h3 Dropdown
          div(class="dropdown" onclick="dropdownJS()")
            p Спальни
            div(class="default" id="dropdownJS")
              div.item
                span.name Спальни
                div.circle.decrease
                  p -
                span.count(id="amount") 0
                div.circle.increase
                  p +
              div.item
                span.name Кровати
                div.circle.decrease
                  p -
                span.count(id="amount") 0
                div.circle.increase
                  p +
              div.item
                span.name Ванные комнаты
                div.circle.decrease
                  p -
                span.count(id="amount") 0
                div.circle.increase
                  p +
      form.buttons
        fieldset
          legend Checkbox Buttons
          div.checkbox
            input(type="checkbox" id="checkbox")
            label(for="checkbox") Можно курить
            br
            input(type="checkbox" id="checkbox")
            label(for="checkbox") Можно с питомцами
            br
            input(type="checkbox" id="checkbox")
            label(for="checkbox") Можно пригласить гостей (до 10 человек)
            br
      form.buttons
        fieldset
          legend Radio Buttons
          div.radio
            label.radio(for="male")
              span.radio-input
                input(type="radio" id="male" name="gender")
                span.radio-control
                label(for="male") Мужчина
            label.radio(for="female") 
              span.radio-input
                input(type="radio" id="female" name="gender")
                span.radio-control
                label(for="female") Женщина
      form.buttons
        fieldset
          legend Toggle
          div.toggle
            input(type="checkbox" id="toggle")
            label.toggle(for="toggle") Получать спецпредложения
            br
            input(type="checkbox" id="toggle")
            label.toggle(for="toggle") Получать спецпредложения
