doctype html
head
  // link(href='../styles/styles.scss' rel='stylesheet' type='text/css')
body
  div.square
  div.square.dark-shade100
  div.square.dark-shade75
  div.square.dark-shade50
  div.square.dark-shade25
  div.square.dark-shade5
  div.square.purple
  div.square.green
  h1 Header 1 (This one is the sub-section or widget title)
  h2 Header 2 (Next one is the item title inside widgets)
  h3 Header 3 (This is a label or CTA text)
  p Body/Paragprah (This is the body text which is used for most of the design, like paragraphs, lists, etc.)
