doctype html
html
  head
    // link(href='../styles/styles.scss' rel='stylesheet' type='text/css')
    script(src="../src/scripts/dropdown.js")
    include templates/roomInfo.pug
    include templates/checkbox.pug
  body
    h1 Colors & Type
    section.colorsAndType
      div.colors
        div.square
          h2.info Dark Shade 100%
          p.info #1F2041
        div.square
          h2.info Dark Shade 75%
          p.info #1F2041
        div.square
          h2.info Dark Shade 50%
          p.info #1F2041
        div.square
          h2.info Dark Shade 25%
          p.info #1F2041
        div.square
          h2.info Dark Shade 5%
          p.info #1F2041
        div.square
          h2.info Purple
          p.info #BC9CFF
        div.square
          h2.info Green
          p.info #6FCf97
      div.type
        h1 Header 1 (This one is the sub-section or widget title)
        h2.info Header 2 (Next one is the item title inside widgets)
        h3 Header 3 (This is a label or CTA text)
        p.info Body/Paragprah (This is the body text which is used for most of the design, like paragraphs, lists, etc.)
    h1 Form Elements
    section.formElements
      div.textField
        form
          label(for="textField") Text Field
          label(for="textField") Default
          br
          input(id="textField" placeholder="Email")
      div.textField
        form
          label(for="textField") Text Field
          label(for="textField") Hover / Focus
          br
          input(id="textField" value="This is pretty awesome")
      div.textField
        form
          label(for="textField") Masked Text Field
          br
          input(id="textField")
      div(id="dropdown")
        h3 Dropdown
        div(class="dropdown" onclick="dropdownJS()")
          p Спальни
          div(class="default" id="dropdownJS")
            div.item
              span.name Спальни
              div.circle.decrease
                p -
              span.count(id="amount") 0
              div.circle.increase
                p +
            div.item
              span.name Кровати
              div.circle.decrease
                p -
              span.count(id="amount") 0
              div.circle.increase
                p +
            div.item
              span.name Ванные комнаты
              div.circle.decrease
                p -
              span.count(id="amount") 0
              div.circle.increase
                p +
      
      +checkbox__form
        +checkbox("Можно курить")
        +checkbox("Можно с питомцами")
        +checkbox("Можно пригласить гостей (до 10 человек)")
      include templates/radio.pug
      include templates/toggle.pug
      include templates/like.pug
      include templates/rate.pug
      include templates/range.pug
      include templates/buttons.pug
      include templates/pagination.pug
      +checkbox__form("Expandable Checkbox List")
        +checkbox("Завтрак")
        +checkbox("Письменный стол") 
        +checkbox("Стул для кормления")
        +checkbox("Кроватка")
        +checkbox("Телевизор")
        +checkbox("Шампунь")
      +checkbox__form("Rich Checkbox Buttons")(class="checkbox checkbox--rich")
        +checkbox--rich("Широкий коридор", "Ширина коридоров в номере не менее 91 см.")
        +checkbox--rich("Помощник для инвалидов", "На 1 этаже вас встретит специалист  и проводит до номера.")
      include templates/list.pug
      +roomInfo("insert_emoticon", "Комфорт", "Шумопоглощающие стены")
      +roomInfo("location_city", "Удобство", "Окно в каждой из спален")
