// @use "../templates/_vars.scss" as *;
@use "styles/colors/_colors.scss" as *;
@use "styles/text/_text.scss" as *;
// @forward "../templates/colors/colors.scss";
// @forward "../templates/text/text.scss";

// Fonts
@use "../fonts.css";

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  flex-flow: row;
  font-family: Montserrat;
  font-weight: bold;
  justify-content: space-around;

  color: $dark;
}

.colors {
  display: block;
  width: fit-content;
}

.text {
  display: block;
  width: fit-content;
}
