mixin like(n)
  .like
    button(type="button").like__button
      div
        span.material-icons favorite_border
        span= n

mixin like--active(n)
  .like.like--active
    button(type="button").like__button.like__button--active
      div
        span.material-icons favorite
        span= n
    
