form.buttons
  fieldset.rate
    legend Rate Button
    div
      button(type="button").material-icons star
      button(type="button").material-icons star
      button(type="button").material-icons star
      button(type="button").material-icons star
      button(type="button").material-icons star_border
    div
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
      button(type="button").material-icons star_rate
