@use "../utils/vars" as *;

@mixin dropdown {
  width: 320px;

  .dropdown {
    border: 1px solid $dark25;
    border-radius: 4px;
    transition: 0.2s;

    width: inherit;

    &:hover,
    &:focus {
      border: 1px solid $dark50;
    }

    & > button {
      @include body;

      appearance: none;

      background: #fff;
      border: none;
      color: $dark75;
      outline: none;
      padding: none;
      text-align: left;

      height: 44px;
      width: inherit;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .dropdown--default {
    display: none;
  }

  .dropdown--expanded {
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    border-top: 1px solid $dark25;
    filter: $drop-shadow;
  }

  .dropdown__item__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .dropdown__item {
      @include label;
    }

    .dropdown__item__counter {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;

      button {
        background: #fff;
        border: 1px solid $dark25;
        border-radius: 22px;

        color: $dark50;

        font-size: 18px;
        font-weight: normal;

        height: 30px;
        width: 30px;
      }
    }
  }
}
