@use "../utils/vars" as *;

@mixin dropdown {
  position: relative;

  border: 1px solid $dark25;
  border-radius: 4px;
  transition: 0.2s;

  height: 44px;
  width: 320px;

  .default {
    display: none;
    flex-flow: column;
    justify-content: space-around;

    background: #ffffff;
  }

  .expanded {
    position: absolute;
    top: 100%;

    display: flex;
    border: 1px solid $dark50;
    border-radius: 4px;
    filter: $drop-shadow;

    width: inherit;
  }

  &:hover,
  &:focus {
    border: 1px solid $dark50;
  }

  .dropdown__item__body {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .dropdown__item {
      @include body;
    }
    .dropdown__item__counter {
      display: flex;
      flex-flow: row nowrap;
      align-content: center;

      button {
        background: #fff;
        border: 1px solid $dark25;
        border-radius: 22px;

        color: $dark25;
      }
    }
  }
}
