@use "../utils/vars" as *;

@mixin textField {
  position: relative;

  width: 320px;
  background: #ffffff;

  label {
    font-weight: 700;
    line-height: 14.63px;
  }

  legend {
    position: absolute;
    top: 0;
    right: 0;

    color: $dark50;
    font-weight: 400;
    line-height: 14.63px;
  }

  input {
    background-color: inherit;
    border: 1px solid $dark25;
    border-radius: 4px;
    outline: none;

    color: $dark75;

    padding: 0;

    height: 44px;
    width: 100%;

    transition: 0.2s;

    &::placeholder {
      color: $dark25;
    }
  }
}
