@mixin checkbox {
  display: block;

  & .wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    & input {
      border: 1px solid $dark25;
      border-radius: 4px;

      padding: 0.25em;

      height: 20px;
      width: 20px;

      &:checked {
        content: url(../static/Vector.svg);

        border: 1px solid $purple;
      }
    }
  }

  &.checkbox--rich {
    display: flex;
    flex-flow: column;

    & .wrapper {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;

      & label {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        & span:first-of-type {
          font-weight: bold;
        }

        & span:last-of-type {
          font-size: 12px;
        }
      }
    }
  }

  &.checkbox--collapsed {
    display: none;
  }
}
