@use "../templates/colors/colors.scss";
@use "../templates/text/text.scss";

// Fonts
@use "../fonts.css";

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  flex-flow: row;
  font-family: Montserrat;
  font-weight: bold;
  justify-content: space-around;
}

.colors {
  display: block;
  width: fit-content;
}

.text {
  display: block;
  width: fit-content;
}
