:root {
  --dark-shade: rgba(31, 32, 65, 1);
  --purple: rgba(188, 156, 255, 1);
  --green: rgba(111, 207, 151, 1);
}

.square {
  border: 2px dashed red;
  height: 5em;
  width: 5em;
  
  // Fonts
  @import ../fonts.css

  //Squares of different colors
  .dark-shade {
    background-color: var(--dark-shade);
    p {font-weight: 300;}
  }
  .purple {
    background-color: var(--purple);
    p {font-weight: 500;}
  }
  .green {
    background-color: var(--green);
    p {font-weight: 700;}
  }
}


