@use "../templates/colors/colors.scss";
@use "../templates/text/text.scss";

// Fonts
// @use "../fonts.css";

html {
  width: 100%;
}

body {
  display: inline;
  font-family: Montserrat;
  font-weight: bold;
  width: 100%;
}

.colors {
  display: block;
  width: fit-content;
}

.text {
  display: block;
  width: fit-content;
}
